/* styling for Mobile Responsive Design*/
/* TABLETS */

@media (max-width: 992px){

    .services-container{
        grid-template-columns:repeat(2,1fr);
    }

    .portfolio-container{
        grid-template-columns:repeat(2,1fr);
    }

    .why-container{
        grid-template-columns:repeat(2,1fr);
    }

    .testimonial-container{
        grid-template-columns:repeat(2,1fr);
    }

}


/* MOBILE PHONES */

@media (max-width: 600px){

    .nav-links{
        display:none;
    }

    .services-container{
        grid-template-columns:1fr;
    }

    .portfolio-container{
        grid-template-columns:1fr;
    }

    .why-container{
        grid-template-columns:1fr;
    }

    .testimonial-container{
        grid-template-columns:1fr;
    }

    .footer-container{
        grid-template-columns:1fr;
    }

    .hero h1{
        font-size:35px;
    }

}

/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .products {
        padding: 20px;
    }

    .products-container {
        grid-template-columns: 1fr;
    }

    .product-card img {
        height: 150px;
    }

    .page-header h1 {
        font-size: 1.8rem;
    }

    .page-header p {
        font-size: 14px;
    }
}